<% provide(:title, 'About Us') %>

		<h1> About Us </h1>
		<p> This is a  sample application developed by 
		<a href="http://www.techampere.com">TechAmpere. </a>
		We are a group of tech enthusiasists and tech geeks. Do visit us. </p>
	
