<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>
		<h1> About Us </h1>
		<br><p> This is a  sample application developed by <a href="http://www.techampere.com">TechAmpere. </a></p> We are a group of tech enthusiasists and tech geeks. Do visit us.
	</body>
</html>

