<% provide(:title, 'Contact Us') %>

<h1> Contact Us </h1>
<p> If you have any concerns regarding the credibility of this app, kindly contact me at <a href="http://www.techampere.com> Techampere.com</a>.
</p>
